.header{
    height:500px;
    widows: 100%;
    padding:30px 0px 30px;
    margin-bottom:50px;
    background:url('assets/images/header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    text-align: center;
    padding-top:100px;
    
}

.dark{
    filter: brightness(30%);

}