.mar{
    margin-top:70px;
    
}

.dark{
    filter: brightness(30%);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
  }

  .f{
    position: relative;
    text-align: center;
    color: white;
}

.header{
    height:500px;
    widows: 100%;
    padding:30px 0px 30px;
    margin-bottom:50px;
    background:url('assets/images/header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    text-align: center;
    padding-top:100px;
    
}

.dark{
    filter: brightness(30%);

}



  